*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.app {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: rgb(246, 242, 242);
  height: 100vh;
}

.sign-in{
  width: 70%;
  height:70vh;
  
}

